<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间 test作区别时 使用原始Dao开发 使用Mapper代理开发 namespace： 对此接口进行绑定 -->
<mapper namespace="cn.itheima.mapper.OrderMapper">

	<resultMap type="Orders" id="orderAndUser">
		<id column="id" property="id"/>
		<result column="userId" property="userId"/>
		<result column="number" property="number"/>
		<result column="createtime" property="createtime"/>
		<!-- 一 对一映射标签 -->
		<association property="user" javaType="User">
			<result column="username" property="username"/>
			<result column="address" property="address"/>
		</association>
	</resultMap>

	<!-- // 需求：查询所有订单信息，关联查询下单用户信息。 一对一关联 -->
	<!-- public List<Orders> findOrderAndUser(); -->
	<select id="findOrderAndUser" resultMap="orderAndUser">
		SELECT
		o.id,
		o.user_id userId,
		o.number,
		o.createtime,
		u.username,
		u.address
		FROM
		`orders` o
		LEFT JOIN `user` u ON o.user_id = u.id
	</select>

</mapper>