<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itheima.mapper.UserMapper">
<!-- 封装sql条件，封装后可以重用，id是sql条件的唯一表示 -->
	<sql id="user_Where">
		<where>
			<if test="username !=null and username !=''">
				and username like '%${username}%'
			</if>
			<if test="sex != null and sex !=''">
				and sex=#{sex}
			</if>
		</where>
	</sql>
	<select id="findUserById" parameterType="java.lang.Integer" resultType="cn.itheima.pojo.User">
		select * from user where id=#{id}
	</select>
	<select id="findUserByUserName" parameterType="java.lang.String" resultType="cn.itheima.pojo.User">
		select * from user where username like '%${value}%'
	</select>
	
	<insert id="insertUser" parameterType="cn.itheima.pojo.User">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
			select LAST_INSERT_ID()
		</selectKey>
		insert into user (username,birthday,sex,address) values(#{username},#{birthday},#{sex},#{address})
	</insert> 
	
	<select id="findUserbyVo" parameterType="cn.itheima.mapper.QueryVo" resultType="cn.itheima.mapper.QueryVo">
		select * from user where username like '%${user.username}%' and sex=#{user.sex}
	</select>
	<select id="findUserCount" resultType="java.lang.Integer">
		select count(*) from user
	</select>
	
	<select id="findUserByUserNameAndSex" parameterType="cn.itheima.pojo.User" resultType="cn.itheima.pojo.User">
		select * from user
		<!-- 调用sql条件 -->
		<include refid="user_Where"></include>
	</select>
	
	<select id="findUserByIds" parameterType="cn.itheima.mapper.QueryVo" resultType="cn.itheima.pojo.User">
		select * from user 
		<where>
			<if test="ids != null">
				<!-- 
				foreach:循环传入的集合参数
				collection:传入的集合的变量名称
				item:每次循环将循环出的数据放入这个变量中
				open:循环开始拼接的字符串
				close:循环结束拼接的字符串
				separator:循环中拼接的分隔符
				 -->
				<foreach collection="ids" item="id" open="id in (" close=")" separator=",">
					#{id}
				</foreach>
			</if>
		</where>
	</select>
</mapper>